<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div class="container">
 <div>
	 <table>
	 <thead>
	 <tr>
	 	 <th>idx</th>
		 <th>아이디</th>
		 <th>이름</th>
		 <th>생성시간</th>
	 </tr>
	 </thead>
	 <tbody>
		 <tr th:each="member : ${members}">
		     <td th:text="${member.idx}"></td>
			 <td th:text="${member.loginid}"></td>
			 <td th:text="${member.name}"></td>
			 <td th:text="${member.CreatedDate}"></td>
	 	</tr>
	 </tbody>
	 </table>
 </div>
</div> <!-- /container -->
</body>
</html>